@font-face {
	font-family: Futuris;
	src: url('../fonts/futuris.ttf');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Futuris;
	src: url('../fonts/futuris-bold.ttf');
	font-weight: 700;
	font-style: normal;
}     
body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
* {
    box-sizing: border-box;
}
.container {
    max-width: 1198px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
.btn {
    border-radius: 3px;
    text-align: center;
    border: none;
    text-decoration: none;
    text-transform: uppercase;
    padding: 11px 25px;
    height: 36px;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    &--orenge {
        box-shadow: 0px 2px 2px 0 rgba(198, 156, 109, 0.3);
        background-color: #f6952b;
        font-size: 12px;
        font-weight: 700;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
    }
    &--green {
        font-size: 12px;
        font-weight: 700;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
        background-color: #38b33a;
    }
}
.input {
    border: 1px solid #ebe4de;
    background: #fff;
    border-radius: 3px;
    padding: 5px 21px;
    color: #5c5c5c;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.08px;
    height: 36px;
    &:focus {
        outline: 0;
        border: 1px solid #ebe4de;
    }
}
.h1 {
    color: #054a4f;
    font-family: Futuris;
    font-size: 40px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    margin-top: 39px;
    margin-bottom: 24px;
    span {
        font-weight: 700;
        color: #545454;
        font-family: Futuris;
        margin-right: 15px;
    }
}
.header {
    padding-top: 25px;
    padding-bottom: 20px;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo {
        max-width: 249px;
        margin-right: 70px;
        img {
            max-width: 100%;
            height: auto;
        }
    }
    &__boxInfo {
        min-width: 202px;
        margin-right: 70px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        &--formBox {
            max-width: 334px;
            width: 100%;
            margin-right: 0;
            position: relative;
            .input_phone {
                transition: all .2s;
                padding-left: 40px;
                width: 100%;
                &:focus {
                    padding-left: 13px;
                }
            }
            .btn--green {
                position: absolute;
                top: 0;
                right: 0;
                max-width: 170px;
            }
            form {
                margin-bottom: 22px;
                display: flex;
                &:last-child {
                    margin-bottom: 0;
                    position: relative;
                    &::before {
                        content: "";
                        width: 25px;
                        height: 1px;
                        background: #fff;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                    }
                }
            }
            .input--search {
                border: none;
                padding-left: 25px;
                background: url("../img/icon/search.jpg") center left no-repeat;
                background-size: contain;
                border-bottom: 1px solid #ebe4de;
                padding-bottom: 5px;
                height: 16px;
                color: #5c5c5c;
                font-size: 14px;
                font-weight: 400;
                letter-spacing: 0.07px;
                width: 100%;
                
            }
        }
    }
    &__timeWork {
        margin-top: 21px;
        color: #5c5c5c;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0.07px;
        padding-left: 23px;
        background: url("../img/icon/clock-circular-outline.jpg") center left no-repeat;
    }
    &__phone {
        text-decoration: none;
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
        color: #4d4d4d;
        letter-spacing: 0.09px;
        padding-left: 24px;
        line-height: 1;
        background: url("../img/icon/phone.jpg") center left no-repeat;
        margin-bottom: 2px;
        &:nth-child(2) {
            background: none;
            margin-bottom: 19px;
        }
    }
    &__mail {
        text-decoration: none;
        color: #5c5c5c;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0.07px;
        padding-left: 24px;
        background: url("../img/icon/mail.jpg") center left no-repeat;
    }
    
}
.mainNav {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.07);
    background-color: #a07d55;
    &__list {
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        li {
            list-style-type: none;
            flex: 1;
        }
    }
    &__link {
        text-decoration: none;
        height: 64px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all .2s;
        color: #ffffff;
        font-family: Futuris;
        font-size: 14px;
        font-weight: 900;
        text-transform: uppercase;
        color: #ffffff;
        position: relative;
        white-space: nowrap;
        padding-left: 25px;
        padding-right: 25px;
        svg {
            margin-right: 8px;
        }
        &:hover {
            background-color: #bf986c;
            &:before {
                background-color: #bf986c;
                z-index: 9;
                opacity: 1;
            }
            &:after {
                background-color: #a07d55;
                z-index: 9;
                opacity: 1;
            }
        }
        &:before {
            content: "";
            width: 1px;
            position: absolute;
            top: 20px;
            bottom: 20px;
            left: 0;
            background: #fff;
            opacity: .4;
            transition: all .2s;
        }
        &:after {
            content: "";
            width: 1px;
            position: absolute;
            top: 20px;
            bottom: 20px;
            right: -1px;
            background: #fff;
            opacity: .4;
            transition: all .2s;
        }
    }
}
.catalog {
    background-color: #f6f0eb;
    padding-bottom: 117px;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
    }
    .h1 {
        width: 100%;
    }
    &__content {
        width: calc( 100% - 300px );
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
    }
    &__filter {
        width: 270px;
        border: 2px solid #38b33a;
        border-radius: 3px;
        padding: 8px;
        background: #ebf7eb;
        &__item {
            margin-bottom: 2px;
            background: #fff;
        }
        &__caption {
            font-family: Futuris;
            font-size: 20px;
            font-weight: 700;
            text-transform: uppercase;
            color: #4d4d4d;
            text-align: center;
            padding: 16px 10px;
        }
    }
    &__item {
        width: calc( 33% - 20px );
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
        border-radius: 3px;
        overflow: hidden;
        margin-bottom: 30px;
        a {
            font-size: 0;
        }
        img {
            max-width: 100%;
        }
        &__wrap {
            border: 1px solid #ebe4de;
            background-color: #ffffff;
            border-top: none;
            border-bottom-right-radius: 3px;
            border-bottom-left-radius: 3px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            padding-top: 20px;
            padding-bottom: 25px;
        }
        &__title {
            color: #333333;
            font-family: Futuris;
            font-size: 20px;
            font-weight: 700;
            color: #4d4d4d;
            margin-bottom: 17px;
            line-height: 1;
        }
        &__price {
            font-family: "Open Sans";
            line-height: 1;
            font-weight: 400;
            color: #ba782d;
            margin-bottom: 11px;
            font-size: 16px;
            span {
                font-size: 24px;
            }
        }
        form {
            max-width: 170px;
        }
        &__input {
            text-align: center;
            width: 100%;
            color: #949393;
            font-family: "Open Sans";
            font-size: 14px;
            font-weight: 400;
            color: #a2998f;
            letter-spacing: 0.07px;
        }
        &__btn {
            width: 100%;
            font-family: "Open Sans";
            font-size: 12px;
            font-weight: 700;
            text-transform: uppercase;
            line-height: 0;
            margin-top: -2px;
            position: relative;
            z-index: 9;
        }
    }
}
.accordion_container {
    position: relative;
    height: auto;
}
.accordion_container > a {
    transition:all 0.2s linear;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 21px 10px;
    color: #353535;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 700;
    color: #4d4d4d;
    text-decoration: none;
    &::after {
        content: "";
        width: 10px;
        height: 6px;
        background: url("../img/icon/arrow-angle-pointing-to-right.jpg") center no-repeat;
    }
    svg {
        margin-right: 10px;
    }
    span {
        display: flex;
        align-items: center;
    }
}
.accordion_container > a.active {
    &::after {
        background: url("../img/icon/reverse-arrow-angle-pointing-to-right.jpg") center no-repeat;
    }
}
.accordion_content {
    display:none;
    padding: 10px;
    padding-top: 0;
    padding-left: 30px;
}