@font-face {
	font-family: Futuris;
	src: url('../fonts/futuris.ttf');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: Futuris;
	src: url('../fonts/futuris-bold.ttf');
	font-weight: 900;
	font-style: normal;
}     
body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
* {
    box-sizing: border-box;
}
.container {
    max-width: 1198px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
.btn {
    border-radius: 3px;
    text-align: center;
    border: none;
    text-decoration: none;
    text-transform: uppercase;
    padding: 11px 25px;
    height: 36px;
    white-space: nowrap;
    display: flex;
    align-items: center;
    cursor: pointer;
    &--orenge {
        box-shadow: 0px 2px 2px 0 rgba(198, 156, 109, 0.3);
        background-color: #f6952b;
        font-size: 12px;
        font-weight: 700;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
    }
    &--green {
        font-size: 12px;
        font-weight: 700;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
        background-color: #38b33a;
    }
}
.input {
    border: 1px solid #ebe4de;
    background: #fff;
    border-radius: 3px;
    padding: 5px 21px;
    color: #5c5c5c;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.08px;
    height: 36px;
    &:focus {
        outline: 0;
        border: 1px solid #ebe4de;
    }
}
.header {
    padding-top: 25px;
    padding-bottom: 20px;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo {
        max-width: 249px;
        margin-right: 70px;
        img {
            max-width: 100%;
            height: auto;
        }
    }
    &__boxInfo {
        min-width: 202px;
        margin-right: 70px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        &--formBox {
            max-width: 334px;
            width: 100%;
            margin-right: 0;
            position: relative;
            .input_phone {
                transition: all .2s;
                padding-left: 40px;
                width: 100%;
                &:focus {
                    padding-left: 13px;
                }
            }
            .btn--green {
                position: absolute;
                top: 0;
                right: 0;
                max-width: 170px;
            }
            form {
                margin-bottom: 17px;
                display: flex;
                &:last-child {
                    margin-bottom: 0;
                    position: relative;
                    &::before {
                        content: "";
                        width: 25px;
                        height: 1px;
                        background: #fff;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                    }
                }
            }
            .input--search {
                border: none;
                padding-left: 25px;
                background: url("../img/icon/search.jpg") center left no-repeat;
                background-size: contain;
                border-bottom: 1px solid #ebe4de;
                padding-bottom: 5px;
                height: 16px;
                color: #5c5c5c;
                font-size: 14px;
                font-weight: 400;
                letter-spacing: 0.07px;
                width: 100%;
                
            }
        }
    }
    &__timeWork {
        margin-top: 20px;
        color: #5c5c5c;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0.07px;
        padding-left: 23px;
        background: url("../img/icon/clock-circular-outline.jpg") center left no-repeat;
    }
    &__phone {
        text-decoration: none;
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
        color: #4d4d4d;
        letter-spacing: 0.09px;
        padding-left: 24px;
        background: url("../img/icon/phone.jpg") center left no-repeat;
        margin-bottom: 10px;
        &:nth-child(2) {
            background: none;
            margin-bottom: 19px;
        }
    }
    &__mail {
        text-decoration: none;
        color: #5c5c5c;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0.07px;
        padding-left: 24px;
        background: url("../img/icon/mail.jpg") center left no-repeat;
    }
    
}
.mainNav {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.07);
    background-color: #a07d55;
    &__list {
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        li {
            list-style-type: none;
            flex: 1;
        }
    }
    &__link {
        text-decoration: none;
        height: 64px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all .2s;
        color: #ffffff;
        font-family: Futuris;
        font-size: 14px;
        font-weight: 900;
        text-transform: uppercase;
        color: #ffffff;
        position: relative;
        &:hover {
            background-color: #bf986c;
        }
        &:before {
            content: "";
            width: 1px;
            position: absolute;
            top: 20px;
            bottom: 20px;
            left: 0;
            background: #fff;
            opacity: .4;
        }
    }
}